rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /rawMaterials/{documentId} {
      allow read, write: if true;
    }

    match /products/{documentId} {
      allow read, write: if true;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}

